*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}

canvas{
    border: 1px solid #bbb;
}